* {

}

GridPane {
    -fx-vgap: 8px;
    -fx-hgap: 8px;
    -fx-max-width: 200;
    -fx-max-height: 200;
}

VBox {
    -fx-min-width: 72px;
    -fx-min-height: 72px;
    -fx-alignment: center;
    -fx-spacing: 4px;
    -fx-background-color: #0000003a;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-background-insets: 2px;
    -fx-background-radius: 20px;
}

VBox > .label {
    -fx-font-size: 18px;

}