.phone GridPane {
    -fx-vgap: 12px;
    -fx-hgap: 16px;
    -fx-max-width: 200;
    -fx-max-height: 200;
    -fx-padding: 0px 22px 0px 0px;
}

.calculator GridPane {
    -fx-vgap: 1px;
    -fx-hgap: 1px;
    -fx-max-width: 200;
    -fx-max-height: 200;
    -fx-padding: 0px 0px 0px 22px;
}

.phone .keypad-button {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: #f5f5f5;
    -fx-spacing: 4px;
    /*-fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;*/
    -fx-background-insets: 0px;
    -fx-background-radius: 30px;
}

#dial-btn {
    -fx-background-color: #12b312;
    -fx-text-fill: white;
}

#dial-btn:pressed {
    -fx-background-color: #125212;
}

.calculator .keypad-button {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 1000px;
    -fx-max-height: 1000px;
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: white;
}

.keypad-button {
    -fx-alignment: center;
    -fx-cursor: hand;
}

.phone .keypad-button > .label {
    -fx-font-size: 14px;
    -fx-text-fill: #262626;
}

.phone .keypad-button:pressed, .calculator .keypad-button:pressed {
    -fx-background-color: orange;
}

BorderPane.phone, BorderPane.calculator {
    -fx-max-width: 300px;
    -fx-max-height: 450px;
    -fx-min-width: 300px;
    -fx-min-height: 450px;
    -fx-alignment: center;
}

BorderPane.phone {
    -fx-background-color: #ffffff;
}

BorderPane.calculator {
    -fx-background-color: rgba(0,0,0, 1);
}

#asterisk-button > .label {
    -fx-padding: 8px 0px 0px 0px;
    -fx-font-size: 28px;
}

.display-label {
    -fx-font-size: 16px;
    -fx-font-family: sans-serif;
    -fx-text-overrun: ellipsis;
    -fx-text-fill: #0000008a;
    -fx-padding: 16px;
    -fx-font-weight: 700;
    -fx-background-color: #ffffffba;
    -fx-background-radius: 7px;
    -fx-background-insets: 1px;
    -fx-max-width: 234px;
    -fx-min-width: 234px;
    -fx-border-color: #0000002a;
    -fx-border-width: 3px;
    -fx-border-radius: 7px;
    -fx-alignment: center;
}

.display {
    -fx-padding: 16px 0px 0px 0px;
}

.switch {
    -fx-padding: 16px 8px 16px;
    -fx-background-color: #0000005a;
    -fx-text-fill: white;
}

.switch-container {
    -fx-alignment: center;
}

.calculator .operator {
    -fx-background-color: #d93d3d;
}