* {
    -fx-border-color: red;
}

GridPane {
    -fx-vgap: 8px;
    -fx-hgap: 8px;
    -fx-max-width: 200;
    -fx-max-height: 200;
}

VBox {
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-alignment: center;
    -fx-spacing: 8px;
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

VBox > .label {
    -fx-font-size: 28px;

}